# NOTE:
# This file is for reference only.
# The authoritative AUR package lives at:
# https://aur.archlinux.org/packages/stem-splitter-bin
#
# Git repository:
# ssh://aur@aur.archlinux.org/stem-splitter-bin.git
